<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="http_proxy" value="bc-array.intra.absa.co.za:8080" />
    <add key="http_proxy.user" value="abnk419" />
    <add key="http_proxy.password" value="9803843@ZZa" />
  </config>
</configuration>